@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResource> L

@{
    ViewData["Title"] = L["Ho_Title"];
}

<div class="text-center">
    <h1 class="display-4">@L["Ho_Welcome"]</h1>

    <p>
        @L["Ho_LearnAboutPrefix"]
        <a href="https://learn.microsoft.com/aspnet/core">@L["Ho_LearnAboutLinkText"]</a>.
    </p>
</div>

